@import url("material3/theme.css");
@import url("elevation.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

.material-icons{
    font-size: inherit;
    line-height: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    background-color:var(--body-background);
    color: var(--on-background);
}

html{
    font-size: 16px;
}